/* VarColor*/
:root {
    --main-color-fern: rgb(90, 182, 95); /* #5ab65f */
    --main-color-corn: rgb(218, 169, 0); /* #daa900 */
    --main-color-mineral-green: rgb(66, 109, 97); /* #426D61 */
    --main-color-feijoa: rgb(150, 214, 138); /* #96d68a */
    --main-color-nevada: rgb(102, 106, 111); /* #666a6f */
    --main-color-pumice: rgb(193, 195, 194); /* #c1c3c2 */
    --main-color-jungle-green: rgb(34, 165, 113); /* #22A571 */
    --main-color-gray: rgb(128, 128, 128); /* #808080 */ 
    --main-color-alto: rgb(210, 210, 210); /* #d2d2d2 */
    --main-color-corduroy: rgb(83, 109, 97); /* #536d61*/
    --main-color-mule-fawn: rgb(138, 68, 42); /* #8a442a */
    --main-color-como: rgb(70, 110, 98); /* #466e62 */
    --main-color-fuel-yellow: rgb(239, 177, 45); /* #efb12d */
    --main-color-de-york: rgb(152, 207, 137); /* #98cf89 */
    --main-color-golden-grass: rgb(215, 173, 38); /* #d7ad26 */
    --main-color-outer-space : rgb(38, 51, 45); /* #26332d */

        --main-color-very-dark-gray: rgb(96, 96, 96); /* #606060 */
    --main-color-very-light-gray: rgb(221, 221, 221); /* #dddddd */

  }

  /* Text Color */

  .color-very-dark-gray{
      color:rgb(96, 96, 96); /* #606060 */
      color: var(--main-color-very-dark-gray);
    }

  .color-fern{
      color:rgb(90, 182, 95); /* #5ab65f */
      color: var(--main-color-fern);
    }
  .color-corn{ 
      color: rgb(218, 169, 0); /* #daa900 */
      color: var(--main-color-corn);
    }
  .color-mineral-green{ 
      color:  rgb(66, 109, 97); /* #426D61 */
      color: var(--main-color-mineral-green);
    }
  .color-feijoa{ 
      color: rgb(150, 214, 138); /* #96d68a */
      color: var(--main-color-feijoa);
    }
  .color-nevada{ 
      color: rgb(102, 106, 111); /* #666a6f */
      color: var(--main-color-nevada);
    }
  .color-pumice{ 
      color: rgb(193, 195, 194); /* #c1c3c2 */
      color: var(--main-color-pumice);
    }
  .color-jungle-green{ 
      color: rgb(34, 165, 113); /* #22A571 */
      color: var(--main-color-jungle-green);
    }
  .color-gray{ 
      color: rgb(128, 128, 128); /* #808080 */ 
      color: var(--main-color-gray);
    }
  .color-alto{ 
      color: rgb(210, 210, 210); /* #d2d2d2 */
      color: var(--main-color-alto);
    }
  .color-corduroy{ 
      color: rgb(83, 109, 97); /* #536d61*/
      color: var(--main-color-corduroy);
    }
  .color-mule-fawn{ 
      color: rgb(138, 68, 42); /* #8a442a */
      color: var(--main-color-mule-fawn);
    }
  .color-como{ 
      color: rgb(70, 110, 98); /* #466e62 */
      color: var(--main-color-como);
    }
  .color-fuel-yellow{ 
      color: rgb(239, 177, 45); /* #efb12d */
      color: var(--main-color-fuel-yellow);
    }
  .color-de-york{ 
      color: rgb(152, 207, 137); /* #98cf89 */
      color: var(--main-color-de-york);
    }
  .color-golden-grass{ 
      color: rgb(215, 173, 38); /* #d7ad26 */
      color: var(--main-color-golden-grass);
    }
  .color-outer-space { 
      color: rgb(38, 51, 45); /* #26332d */
      color: var(--main-color-outer-space);
    }

/* Hover Text Color */
.color-hover-fern:hover{
    color:rgb(90, 182, 95); /* #5ab65f */
    color: var(--main-color-fern);
  }
.color-hover-corn:hover{ 
    color: rgb(218, 169, 0); /* #daa900 */
    color: var(--main-color-corn);
  }
.color-hover-mineral-green:hover{ 
    color:  rgb(66, 109, 97); /* #426D61 */
    color: var(--main-color-mineral-green);
  }
.color-hover-feijoa:hover{ 
    color: rgb(150, 214, 138); /* #96d68a */
    color: var(--main-color-feijoa);
  }
.color-hover-nevada:hover{ 
    color: rgb(102, 106, 111); /* #666a6f */
    color: var(--main-color-nevada);
  }
.color-hover-pumice:hover{ 
    color: rgb(193, 195, 194); /* #c1c3c2 */
    color: var(--main-color-pumice);
  }
.color-hover-jungle-green:hover{ 
    color: rgb(34, 165, 113); /* #22A571 */
    color: var(--main-color-jungle-green);
  }
.color-hover-gray:hover{ 
    color: rgb(128, 128, 128); /* #808080 */ 
    color: var(--main-color-gray);
  }
.color-hover-alto:hover{ 
    color: rgb(210, 210, 210); /* #d2d2d2 */
    color: var(--main-color-alto);
  }
.color-hover-corduroy:hover{ 
    color: rgb(83, 109, 97); /* #536d61*/
    color: var(--main-color-corduroy);
  }
.color-hover-mule-fawn:hover{ 
    color: rgb(138, 68, 42); /* #8a442a */
    color: var(--main-color-mule-fawn);
  }
.color-hover-como:hover{ 
    color: rgb(70, 110, 98); /* #466e62 */
    color: var(--main-color-como);
  }
.color-hover-fuel-yellow:hover{ 
    color: rgb(239, 177, 45); /* #efb12d */
    color: var(--main-color-fuel-yellow);
  }
.color-hover-de-york:hover{ 
    color: rgb(152, 207, 137); /* #98cf89 */
    color: var(--main-color-de-york);
  }
.color-hover-golden-grass:hover{ 
    color: rgb(215, 173, 38); /* #d7ad26 */
    color: var(--main-color-golden-grass);
  }
.color-hover-outer-space:hover{ 
    color: rgb(38, 51, 45); /* #26332d */
    color: var(--main-color-outer-space);
  }



  /* Background Color */

  .bg-very-light-gray{ 
    background-color: rgb(221, 221, 221); /* #dddddd */
    background-color: var(--main-color-very-light-gray);
  }
.bg-fern{
    background-color:rgb(90, 182, 95); /* #5ab65f */
    background-color: var(--main-color-fern);
  }
.bg-corn{ 
    background-color: rgb(218, 169, 0); /* #daa900 */
    background-color: var(--main-color-corn);
  }
.bg-mineral-green{ 
    background-color:  rgb(66, 109, 97); /* #426D61 */
    background-color: var(--main-color-mineral-green);
  }
.bg-feijoa{ 
    background-color: rgb(150, 214, 138); /* #96d68a */
    background-color: var(--main-color-feijoa);
  }
.bg-nevada{ 
    background-color: rgb(102, 106, 111); /* #666a6f */
    background-color: var(--main-color-nevada);
  }
.bg-pumice{ 
    background-color: rgb(193, 195, 194); /* #c1c3c2 */
    background-color: var(--main-color-pumice);
  }
.bg-jungle-green{ 
    background-color: rgb(34, 165, 113); /* #22A571 */
    background-color: var(--main-color-jungle-green);
  }
.bg-gray{ 
    background-color: rgb(128, 128, 128); /* #808080 */ 
    background-color: var(--main-color-gray);
  }
.bg-alto{ 
    background-color: rgb(210, 210, 210); /* #d2d2d2 */
    background-color: var(--main-color-alto);
  }
.bg-corduroy{ 
    background-color: rgb(83, 109, 97); /* #536d61*/
    background-color: var(--main-color-corduroy);
  }
.bg-mule-fawn{ 
    background-color: rgb(138, 68, 42); /* #8a442a */
    background-color: var(--main-color-mule-fawn);
  }
.bg-como{ 
    background-color: rgb(70, 110, 98); /* #466e62 */
    background-color: var(--main-color-como);
  }
.bg-fuel-yellow{ 
    background-color: rgb(239, 177, 45); /* #efb12d */
    background-color: var(--main-color-fuel-yellow);
  }
.bg-de-york{ 
    background-color: rgb(152, 207, 137); /* #98cf89 */
    background-color: var(--main-color-de-york);
  }
.bg-golden-grass{ 
    background-color: rgb(215, 173, 38); /* #d7ad26 */
    background-color: var(--main-color-golden-grass);
  }
.bg-outer-space { 
    background-color: rgb(38, 51, 45); /* #26332d */
    background-color: var(--main-color-outer-space);
  }

 /* Hover Background Color */
 .bg-hover-fern:hover{
    background-color:rgb(90, 182, 95); /* #5ab65f */
    background-color: var(--main-color-fern);
  }
.bg-hover-corn:hover{ 
    background-color: rgb(218, 169, 0); /* #daa900 */
    background-color: var(--main-color-corn);
  }
.bg-hover-mineral-green:hover{ 
    background-color:  rgb(66, 109, 97); /* #426D61 */
    background-color: var(--main-color-mineral-green);
  }
.bg-hover-feijoa:hover{ 
    background-color: rgb(150, 214, 138); /* #96d68a */
    background-color: var(--main-color-feijoa);
  }
.bg-hover-nevada:hover{ 
    background-color: rgb(102, 106, 111); /* #666a6f */
    background-color: var(--main-color-nevada);
  }
.bg-hover-pumice:hover{ 
    background-color: rgb(193, 195, 194); /* #c1c3c2 */
    background-color: var(--main-color-pumice);
  }
.bg-hover-jungle-green:hover{ 
    background-color: rgb(34, 165, 113); /* #22A571 */
    background-color: var(--main-color-jungle-green);
  }
.bg-hover-gray:hover{ 
    background-color: rgb(128, 128, 128); /* #808080 */ 
    background-color: var(--main-color-gray);
  }
.bg-hover-alto:hover{ 
    background-color: rgb(210, 210, 210); /* #d2d2d2 */
    background-color: var(--main-color-alto);
  }
.bg-hover-corduroy:hover{ 
    background-color: rgb(83, 109, 97); /* #536d61*/
    background-color: var(--main-color-corduroy);
  }
.bg-hover-mule-fawn:hover{ 
    background-color: rgb(138, 68, 42); /* #8a442a */
    background-color: var(--main-color-mule-fawn);
  }
.bg-hover-como:hover{ 
    background-color: rgb(70, 110, 98); /* #466e62 */
    background-color: var(--main-color-como);
  }
.bg-hover-fuel-yellow:hover{ 
    background-color: rgb(239, 177, 45); /* #efb12d */
    background-color: var(--main-color-fuel-yellow);
  }
.bg-hover-de-york:hover{ 
    background-color: rgb(152, 207, 137); /* #98cf89 */
    background-color: var(--main-color-de-york);
  }
.bg-hover-golden-grass:hover{ 
    background-color: rgb(215, 173, 38); /* #d7ad26 */
    background-color: var(--main-color-golden-grass);
  }
.bg-hover-outer-space:hover{ 
    background-color: rgb(38, 51, 45); /* #26332d */
    background-color: var(--main-color-outer-space);
  }

  
  /* Background Color */
.border-color-fern{
    border-width: 1px;
    border-style: solid;
    border-color:rgb(90, 182, 95); /* #5ab65f */
    border-color: var(--main-color-fern);
  }
.border-color-corn{
    border-width: 1px;
    border-style: solid; 
    border-color: rgb(218, 169, 0); /* #daa900 */
    border-color: var(--main-color-corn);
  }
.border-color-mineral-green{
    border-width: 1px;
    border-style: solid; 
    border-color:  rgb(66, 109, 97); /* #426D61 */
    border-color: var(--main-color-mineral-green);
  }
.border-color-feijoa{
    border-width: 1px;
    border-style: solid; 
    border-color: rgb(150, 214, 138); /* #96d68a */
    border-color: var(--main-color-feijoa);
  }
.border-color-nevada{
    border-width: 1px;   
    border-style: solid; 
    border-color: rgb(102, 106, 111); /* #666a6f */
    border-color: var(--main-color-nevada);
  }
.border-color-pumice{
    border-width: 1px;
    border-style: solid; 
    border-color: rgb(193, 195, 194); /* #c1c3c2 */
    border-color: var(--main-color-pumice);
  }
.border-color-jungle-green{
    border-width: 1px;
    border-style: solid; 
    border-color: rgb(34, 165, 113); /* #22A571 */
    border-color: var(--main-color-jungle-green);
  }
.border-color-gray{
    border-width: 1px;
    border-style: solid; 
    border-color: rgb(128, 128, 128); /* #808080 */ 
    border-color: var(--main-color-gray);
  }
.border-color-alto{
    border-width: 1px;
    border-style: solid; 
    border-color: rgb(210, 210, 210); /* #d2d2d2 */
    border-color: var(--main-color-alto);
  }
.border-color-corduroy{
    border-width: 1px;
    border-style: solid; 
    border-color: rgb(83, 109, 97); /* #536d61*/
    border-color: var(--main-color-corduroy);
  }
.border-color-mule-fawn{
    border-width: 1px;
    border-style: solid; 
    border-color: rgb(138, 68, 42); /* #8a442a */
    border-color: var(--main-color-mule-fawn);
  }
.border-color-como{
    border-width: 1px;
    border-style: solid; 
    border-color: rgb(70, 110, 98); /* #466e62 */
    border-color: var(--main-color-como);
  }
.border-color-fuel-yellow{
    border-width: 1px;
    border-style: solid; 
    border-color: rgb(239, 177, 45); /* #efb12d */
    border-color: var(--main-color-fuel-yellow);
  }
.border-color-de-york{
    border-width: 1px;
    border-style: solid; 
    border-color: rgb(152, 207, 137); /* #98cf89 */
    border-color: var(--main-color-de-york);
  }
.border-color-golden-grass{
    border-width: 1px;
    border-style: solid; 
    border-color: rgb(215, 173, 38); /* #d7ad26 */
    border-color: var(--main-color-golden-grass);
  }
.border-color-outer-space {
    border-width: 1px;
    border-style: solid; 
    border-color: rgb(38, 51, 45); /* #26332d */
    border-color: var(--main-color-outer-space);
  }

 /* Hover Background Color */
 .border-color-hover-fern:hover{
    border-color:rgb(90, 182, 95); /* #5ab65f */
    border-color: var(--main-color-fern);
  }
.border-color-hover-corn:hover{ 
    border-color: rgb(218, 169, 0); /* #daa900 */
    border-color: var(--main-color-corn);
  }
.border-color-hover-mineral-green:hover{ 
    border-color:  rgb(66, 109, 97); /* #426D61 */
    border-color: var(--main-color-mineral-green);
  }
.border-color-hover-feijoa:hover{ 
    border-color: rgb(150, 214, 138); /* #96d68a */
    border-color: var(--main-color-feijoa);
  }
.border-color-hover-nevada:hover{ 
    border-color: rgb(102, 106, 111); /* #666a6f */
    border-color: var(--main-color-nevada);
  }
.border-color-hover-pumice:hover{ 
    border-color: rgb(193, 195, 194); /* #c1c3c2 */
    border-color: var(--main-color-pumice);
  }
.border-color-hover-jungle-green:hover{ 
    border-color: rgb(34, 165, 113); /* #22A571 */
    border-color: var(--main-color-jungle-green);
  }
.border-color-hover-gray:hover{ 
    border-color: rgb(128, 128, 128); /* #808080 */ 
    border-color: var(--main-color-gray);
  }
.border-color-hover-alto:hover{ 
    border-color: rgb(210, 210, 210); /* #d2d2d2 */
    border-color: var(--main-color-alto);
  }
.border-color-hover-corduroy:hover{ 
    border-color: rgb(83, 109, 97); /* #536d61*/
    border-color: var(--main-color-corduroy);
  }
.border-color-hover-mule-fawn:hover{ 
    border-color: rgb(138, 68, 42); /* #8a442a */
    border-color: var(--main-color-mule-fawn);
  }
.border-color-hover-como:hover{ 
    border-color: rgb(70, 110, 98); /* #466e62 */
    border-color: var(--main-color-como);
  }
.border-color-hover-fuel-yellow:hover{ 
    border-color: rgb(239, 177, 45); /* #efb12d */
    border-color: var(--main-color-fuel-yellow);
  }
.border-color-hover-de-york:hover{ 
    border-color: rgb(152, 207, 137); /* #98cf89 */
    border-color: var(--main-color-de-york);
  }
.border-color-hover-golden-grass:hover{ 
    border-color: rgb(215, 173, 38); /* #d7ad26 */
    border-color: var(--main-color-golden-grass);
  }
.border-color-hover-outer-space:hover{ 
    border-color: rgb(38, 51, 45); /* #26332d */
    border-color: var(--main-color-outer-space);
  }