/*  section banner  */
.bg-5DB65F {
  background-color: #5DB65F;
}

.bg-DCAA00, .section-baner .content-title:after, .section-baner .content-title .title:after {
  background-color: #daa900;
  background-color: var(--main-color-corn);
}

.bg-C1C3C2 {
  background-color: #c1c3c2;
  background-color: var(--main-color-pumice);
}

.section-baner {
  position: relative;
}
.section-baner .col {
  min-height: 355px;
}
.section-baner h1{
  padding-top: 54px;
}
.section-baner span {
  padding-top: 10px;
  margin-top: 0px;
}
.section-baner .bg-img {
  background-position: center top;
  background-size: cover;
}
.section-baner .content-title {
  position: relative;
}
@media (max-width: 991px) {
  .section-baner .content-title {
    min-height: 0;
    padding: 20px 15px;
  }
}
.section-baner .content-title .adorno {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  width: 235px;
}
.section-baner .content-title .title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  position: relative;
  margin-bottom: 100px;
}
.section-baner .content-title .title span {
  font-size: 2.1875rem;
  line-height: 2.625rem;
  letter-spacing: 0rem;
}
.section-baner .content-title .title:after {
  content: "";
  position: absolute;
  left: 3px;
  bottom: -16px;
  height: 2px;
  max-width: 100%;
  width: 90px;
}
.section-baner .content-title:after {
  content: "";
  width: 56px;
  position: absolute;
  right: -28px;
  height: 100%;
  top: 0;
  opacity: 0.77;
  z-index: 1;
}
@media (max-width: 991px) {
  .section-baner .content-title:after {
    display: none;
  }
}
.section-baner .line-color {
  width: 100%;
  height: 4px;
  display: block;
  background: #27a570;
  background: -moz-linear-gradient(left, #27a570 0%, #27a570 33.7%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #27a570), color-stop(33.7%, #27a570), color-stop(32%, #98d78a), color-stop(66%, #98d78a), color-stop(66%, #dca900), color-stop(100%, #dcaa00));
  background: -webkit-linear-gradient(left, #27a570 0%, #27a570 33.7%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -o-linear-gradient(left, #27a570 0%, #27a570 33.7%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -ms-linear-gradient(left, #27a570 0%, #27a570 33.7%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: linear-gradient(to right, #27a570 0%, #27a570 33.7%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#27a570", endColorstr="#dcaa00", GradientType=1 );
}
.section-baner .nav {
  min-height: 50px;
}

.section-baner .nav .nav-item {
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0rem;
  text-decoration: none;
  padding: 0 25px;
  border-right: 1px solid #666A6F;
}

.section-baner .nav .item1{
  padding: 0 25px 0 7px;
}
.section-baner .nav .nav-item .icon {
  width: 28px;
  margin-right: 10px;
}
.section-baner .nav .nav-item:last-child {
  border: 0;
}

.section-info {
  margin-top: 50px;
}
.section-info .header .icon {
  width: 61px;
  height: 61px;
}
.section-info .header .title {
  height: 61px;
}

/*  End Section banner */


/* Section Contact */

@media (max-width: 768px) {
  .section-contact-col-left{
    padding-left: 8%;
    padding-right: 8%;
  }
}


@media (min-width:769px) and  (max-width: 800px) {
  .section-contact-col-left{
    padding-left:10%;
    padding-right: 10%;
  }
}

@media (min-width:801px) and (max-width: 900px) {
  .section-contact-col-left{
    padding-left:14.22%;
    padding-right: 20%;
  }
}


@media (min-width:1024px)and (max-width: 1299px){
.section-contact-row{
    padding-left: 3.5%;
    padding-right: 3%;

  }
}

@media (min-width: 1300px) and (max-width: 1380px)  {
.section-contact-row{
    padding-left: 118px;
    padding-right: 30px;

  }
}

@media (min-width: 1381px)  {
.section-contact-row{
    max-width: 1366px;
    padding-left: 8.6%;
    padding-right: 0%;
    margin:auto;
  }
}

.section-contact {
  min-height: 920px;
  background: rgba(255,255,255,1);
 background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 57.94%, #98D78A 57.94%, #98D78A 100%);
 background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(57.94%, rgba(255,255,255,1)), color-stop(57.94%, #98D78A), color-stop(100%, #98D78A));
 background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 57.94%, #98D78A 57.94%, #98D78A 100%);
 background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 57.94%, #98D78A 57.94%, #98D78A 100%);
 background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 57.94%, #98D78A 57.94%, #98D78A 100%);
 background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 57.94%, #98D78A 57.94%, #98D78A 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#5db65f', GradientType=0 );
}

.section-contact .contact-paragraph-one{
  font-size: 1.3125rem;
  line-height: 1.575rem;
}

@media (min-width: 1280px) {
  .section-contact .contact-paragraph-one {
    max-width: 90%;
  }
}

.section-contact p{
  margin-bottom: 2px;
}

.section-contact-col-left{
  padding-top: 127px;
  /*padding-left: 102px;*/
}

@media (max-width: 900px) {
.section-contact-col-left{
  padding-top: 80px;
  /*padding-left: 102px;*/
   }
}

.section-contact .contact-paragraph-two{
  font-size: 1.875rem;
  line-height: 2.25rem;
  position: relative;
}

.section-contact .contact-paragraph-two:after{
  content: "";
  position: absolute;
  left: 3px;
  bottom: -16px;
  height: 2px;
  max-width: 100%;
  width: 190px;
  background-color: var(--main-color-corn);
}


@media (max-width: 390px) {
.section-contact .contact-paragraph-two:after{
  bottom: -60px;
  }
}


@media (max-width: 325px) {
.section-contact .contact-paragraph-two:after{
  bottom: -55px;
  }
}


.section-contact .img-woman{
  margin-top: 96px;
  margin-left: -119px
}

@media (max-width: 1000px)  {
  .section-contact .img-woman{
   display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1279px)  {
  .section-contact .img-woman{
 margin-top: 300px;
margin-left: -18px;
}
  .img-woman img{
    width: 100%;
  }
}

@media (min-width: 1280px) and (max-width: 1300px)  {
  .section-contact .img-woman{
  margin-top: 187px;
  margin-left: -119px
}
  .img-woman img{
    width: 98%;
  }
}





/* Formulario */


.section-contact-col-right .form-control {
  border:0;
  border-radius: inherit;
  font-size: 1rem;
  padding-left: 40px;
}

@media (max-width: 375px) {
  .section-contact-col-right .form-control {
    font-size: 0.8rem;
  }
}

@media (max-width: 425px) {
  .section-contact-col-right .form-control {
    padding-left: 9px;
  }
}

.section-contact-col-right .form-control::placeholder {
    color: var(--main-color-very-dark-gray)!important;
    opacity: 0.9;
}

.section-contact-col-right .form-group input,
.section-contact-col-right .form-group select {
  height: 47px;
}

.form-group textarea{
  height: 171px;
  resize: inherit;
  margin-top: 8px;
  padding-top: 10px;
}

.section-contact-col-right .form-group input[id="ciudad"]{
  padding-left: 9px;
}

.section-contact-col-right .form-group input[id="mail"]{
  margin-top: 11px;
  margin-bottom: 22px;
}

.section-contact-col-right .form-group select{
  margin-top: 6px;
}

.form-control:focus {
    border:0;
    outline: 0;
    box-shadow: inherit;
}

.custom-select {
    line-height: 1.5;
    color:var(--main-color-very-dark-gray);
    font-size: 1rem;
    vertical-align: middle;
    background: #fff url("../images/img.png") no-repeat right 1.8rem center;
    background-size: 19.5px 9.75px;
    border:0;
    border-radius: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.section-contact-col-right select,
.section-contact-col-right option{
  color:var(--main-color-very-dark-gray);
  opacity: 0.98;
}

@media (max-width: 375px) {
  .custom-select{
    background: #fff url("../images/img.png") no-repeat right 0.8rem center;
  }
}

 .form-footer{
   margin-top: 25px;
   height: 85px;
}

@media (max-width: 325px) {
  .form-footer{
    height: 186px;
  }
}


@media (min-width: 326px) and (max-width: 375px) {
  .form-footer{
    height: 134px;
  }
}


@media (min-width: 376px) and (max-width: 425px) {
  .form-footer{
    height: 116px;
  }
}


 .form-footer p{
   font-size: 1rem;
   margin: auto;
   padding-top: 6px;
 }
 @media (min-width: 1280px) {
   .form-footer p{
     max-width: 84%;
   }
 }

.section-contact-col-right .form-frame {
  margin-top: 81px;
	max-width: 644px;
	padding-left: 35px;
	padding-right: 35px;
  padding-top: 40px;
  padding-bottom: 134px;
}

@media (max-width: 900px){
  .section-contact-col-right .form-frame {
  margin-bottom: 40px;
  }
}


@media (max-width: 900px) {
  .section-contact-col-right{
    display: flex;
   justify-content: center;
  }
}


 @media (min-width: 1280px) {
  .section-contact-col-right .form-frame{
    margin-left: -69px;
  }
  .section-contact-col-right .form-frame .form{
   max-width: 573px;
  }
}


/* End Section Contact*/

