/* Montserrat */ 

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('montserrat-regular'), url(fonts/montserrat/Montserrat-Regular.ttf) format('truetype');
    
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: local('Montserrat ExtraLight'), local('montserrat-extraLight'), url(fonts/montserrat/Montserrat-Regular.ttf) format('truetype'); 
}

/* FRADM */ 

@font-face {
    font-family: 'Fradm';
    font-style: normal;
    font-weight: 700;
    src: local('Fradm Bold'), local('fradm-bold'), url(fonts/fradm/FRADM.TTF) format('truetype');    
}

/* LibreFranklin */ 

@font-face {
    font-family: 'LibreFranklin';
    font-style: normal;
    font-weight: 700;
    src: local('LibreFranklin Bold'), local('librefranklin-bold'), url(fonts/librefranklin/librefranklin-bold.ttf) format('truetype');    
}
@font-face {
    font-family: 'LibreFranklin';
    font-style: normal;
    font-weight: 600;
    src: local('LibreFranklin SemiBold'), local('librefranklin-semibold'), url(fonts/librefranklin/librefranklin-semibold.ttf) format('truetype');    
}
@font-face {
    font-family: 'LibreFranklin';
    font-style: italic;
    font-weight: 700;
    src: local('LibreFranklin Bold Italic'), local('librefranklin-bolditalic'), url(fonts/librefranklin/librefranklin-bolditalic.ttf) format('truetype');
}
@font-face {
    font-family: 'LibreFranklin';
    font-style: normal;
    font-weight: 400;
    src: local('LibreFranklin Regular'), local('librefranklin-regular'), url(fonts/librefranklin/librefranklin-regular.ttf) format('truetype');    
}
@font-face {
    font-family: 'LibreFranklin';
    font-style: normal;
    font-weight: 100;
    src: local('LibreFranklin Thin'), local('librefranklin-thin'), url(fonts/librefranklin/librefranklin-thin.ttf) format('truetype');    
}

/*faltantes*/

@font-face {
    font-family: 'Franklin Gothic Demi';
    font-style: normal;
    font-weight: normal;
    src: local('Franklin Gothic Demi'), url('fonts/franklin-gothic-demi/bold.woff') format('woff');
    }
    
/*Material Icons*/
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/material-icons/material-icons.woff2') format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }