html,
body {
  overflow-x: hidden;
  font-size: 16px;
}

.bg-5DB65F {
  background-color: #5DB65F;
}

.bg-DCAA00, .section-baner .content-title:after, .section-baner .content-title .title:after {
  background-color: #daa900;
  background-color: var(--main-color-corn);
}

.bg-C1C3C2 {
  background-color: #c1c3c2;
  background-color: var(--main-color-pumice);
}

/*baner*/
.section-baner {
  position: relative;
}
.section-baner .col {
  min-height: 355px;
}
.section-baner .bg-img {
  background-position: center top;
  background-size: cover;
}
.section-baner .content-title {
  position: relative;
}
@media (max-width: 991px) {
  .section-baner .content-title {
    min-height: 0;
    padding: 20px 15px;
  }
}
.section-baner .content-title .adorno {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  width: 235px;
}
.section-baner .content-title .title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  position: relative;
  margin-bottom: 100px;
}
.section-baner .content-title .title span {
  font-size: 2.1875rem;
  line-height: 2.625rem;
  letter-spacing: 0rem;
}
.section-baner .content-title .title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -16px;
  height: 2px;
  max-width: 100%;
  width: 90px;
}
.section-baner .content-title:after {
  content: "";
  width: 56px;
  position: absolute;
  right: -28px;
  height: 100%;
  top: 0;
  opacity: 0.77;
  z-index: 1;
}
@media (max-width: 991px) {
  .section-baner .content-title:after {
    display: none;
  }
}
.section-baner .line-color {
  width: 100%;
  height: 4px;
  display: block;
  background: #27a570;
  background: -moz-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #27a570), color-stop(32%, #27a570), color-stop(32%, #98d78a), color-stop(66%, #98d78a), color-stop(66%, #dca900), color-stop(100%, #dcaa00));
  background: -webkit-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -o-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: -ms-linear-gradient(left, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  background: linear-gradient(to right, #27a570 0%, #27a570 32%, #98d78a 32%, #98d78a 66%, #dca900 66%, #dcaa00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#27a570", endColorstr="#dcaa00", GradientType=1);
}
.section-baner .nav {
  min-height: 50px;
}
.section-baner .nav .nav-item {
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0rem;
  text-decoration: none;
  padding: 0 25px;
  border-right: 1px solid #666A6F;
}
.section-baner .nav .nav-item .icon {
  width: 28px;
  margin-right: 10px;
}
.section-baner .nav .nav-item:last-child {
  border: 0;
}

/*section-aside*/
.content-section-aside {
  margin-bottom: 50px;
  margin-top: 77px;
}
@media (min-width: 992px) {
  .content-section-aside {
    margin-bottom: 50px;
    margin-top: 130px;
  }
}
@media (min-width: 1200px) {
  .content-section-aside {
    max-width: 1165px;
    margin-bottom: 100px;
  }
}

/*politicas*/
.section-politicas .content-info-politicas .title-d {
  min-height: 59px;
  z-index: 1;
  position: relative;
  margin-bottom: 40px;
}
.section-politicas .content-info-politicas .title-d .content-icon {
  width: 61px;
}
.section-politicas .content-info-politicas .title-d .content-icon .icon {
  width: 44px;
}
.section-politicas .content-info-politicas .title-d .content-text {
  padding: 5px 30px;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
  max-width: calc(100% - 61px);
}
.section-politicas .content-info-politicas .text-p {
  font-size: 1rem;
  line-height: 1.1875rem;
  letter-spacing: 0rem;
  margin-bottom: 80px;
}
.section-politicas .content-info-politicas .content-log .log {
  min-height: 240px;
  width: 200px;
  padding-top: 14px;
  box-shadow: 0 0 5px 0 gainsboro;
  margin-right: 10px;
  margin-bottom: 20px;
}
.section-politicas .content-info-politicas .content-log .log:last-child {
  margin-right: 0;
}
@media (max-width: 991px) {
  .section-politicas .content-info-politicas .content-log .log {
    margin: 20px 10px !important;
  }
}
.section-politicas .content-info-politicas .content-log .log .icon {
  margin-bottom: auto;
  max-width: 90%;
}
.section-politicas .content-info-politicas .content-log .log .info-log {
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0rem;
  height: 42px;
  margin-top: auto;
  transition: 0.5s;
}
.section-politicas .content-info-politicas .content-log .log.no-info {
  padding-top: 0;
}
.section-politicas .content-info-politicas .content-log .log.no-info .icon {
  margin-top: auto;
}

/*aside*/
.aside {
  max-width: 250px;
  margin: auto;
}
@media (max-width: 991px) {
  .aside {
    margin-top: 50px;
  }
}
.aside .info-1 .header {
  min-height: 115px;
  padding: 10px 30px;
}
.aside .info-1 .header .title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  letter-spacing: 0rem;
}
.aside .info-1 .body {
  padding: 23px 30px;
  padding-bottom: 105px;
  min-height: 220px;
  position: relative;
}
.aside .info-1 .body .text {
  font-size: 1.125rem;
  line-height: 1.375rem;
  letter-spacing: 0rem;
}
.aside .info-1 .body .decoration {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
}
.aside .info-1 .body .oro {
  max-width: 100%;
  position: absolute;
  right: -27px;
  bottom: -55px;
}
.aside .info-2 {
  padding: 48px 23px;
  min-height: 360px;
  background-size: cover;
  background-position: center;
  margin-top: 88px;
  position: relative;
}
.aside .info-2 * {
  position: relative;
  z-index: 1;
}
.aside .info-2 .title {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  letter-spacing: 0rem;
  max-width: 144px;
  margin-left: auto;
}
.aside .info-2 .title .sub-title {
  font-size: 1.875rem;
  line-height: 1.875rem;
  letter-spacing: 0rem;
}
.aside .info-2 .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.6;
  z-index: 0;
}
.aside .info-2 .btn-pp {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -40px;
  height: 40px;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  letter-spacing: 0rem;
  padding: 0 30px;
  text-decoration: none;
  transition: 0.5s;
}
.aside .info-2 .btn-pp .arrow {
  width: 54px;
}
.aside .info-3 {
  min-height: 300px;
  margin-top: 64px;
  padding: 25px 10px;
  padding-bottom: 50px;
}
.aside .info-3 .icon {
  max-width: 54px;
}
.aside .info-3 .title {
  max-width: 200px;
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0rem;
}
.aside .info-3 .title span {
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
}
.aside .info-3 .btn-i {
  width: 100%;
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: 0rem;
  padding: 10px 16px;
  height: 50px;
  border: 0;
  outline: none;
}
.aside .info-3 .btn-i::-webkit-input-placeholder {
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: 0rem;
  color: #c1c3c2;
  /* #c1c3c2 */
  color: var(--main-color-pumice);
}
.aside .info-3 .btn-i:-moz-placeholder {
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: 0rem;
  color: #c1c3c2;
  /* #c1c3c2 */
  color: var(--main-color-pumice);
}
.aside .info-3 .btn-i:-ms-input-placeholder {
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: 0rem;
  color: #c1c3c2;
  /* #c1c3c2 */
  color: var(--main-color-pumice);
}

/*info-block*/
.section-info-block {
  padding-top: 44px;
  padding-bottom: 51px;
  margin-bottom: 73px;
}
@media (min-width: 768px) {
  .section-info-block {
    min-height: 300px;
  }
}
.section-info-block .decoration {
  position: absolute;
  left: 0;
  right: 0;
  top: -17px;
  margin: auto;
  width: 144px;
}
.section-info-block .decoration .icon {
  width: 72px;
  margin: auto;
}
.section-info-block .content-info .col:first-child {
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
}
@media (max-width: 767px) {
  .section-info-block .content-info .col:first-child {
    border-right: 0;
  }
}
@media (min-width: 768px) {
  .section-info-block .content-info .col:first-child {
    transform: translateX(-30px);
  }
  .section-info-block .content-info .col:first-child * {
    transform: translateX(30px);
  }
  .section-info-block .content-info .col:first-child .title {
    padding: 60px 0;
    padding-right: 25px;
  }
}
.section-info-block .content-info .title {
  font-size: 2.1875rem;
  line-height: 2.625rem;
  letter-spacing: 0rem;
  padding: 5px 0;
}
@media (max-width: 767px) {
  .section-info-block .content-info .title {
    font-size: 1.375rem;
    line-height: 1.5rem;
    letter-spacing: 0rem;
  }
}
.section-info-block .content-info .text {
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0rem;
}
@media (min-width: 768px) {
  .section-info-block .content-info .text {
    padding-right: 15px;
  }
}

/*# sourceMappingURL=style-nosotros-gestion.css.map */
