@charset "UTF-8";

@font-face {
  font-family: "mineros-font";
  src:url("fonts/mineros-font.eot");
  src:url("fonts/mineros-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/mineros-font.woff") format("woff"),
    url("fonts/mineros-font.ttf") format("truetype"),
    url("fonts/mineros-font.svg#mineros-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "mineros-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "mineros-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-at:before {
  content: "\61";
}
.icon-at-sign:before {
  content: "\62";
}


/* START BAR LANGUAGE */ 
#hed-top-green {
  height: 30px;
  padding: 0 120px;
}   
#bar-lang {
    width: max-content;
    margin-left: auto;
    height: 100%;
    align-items: center;
    padding-right: 20px;
}
#bar-lang li{
    position:relative;
    display: flex;
    justify-content: center;
}
#bar-lang li:not(:last-child) span:after {
    content: '';
    width: 1px;
    height: 15px;
    background: #fff;
    position: absolute;
    right: 0;
    opacity: 0.7;
}
#bar-lang li span {
    height: 21px;
    position: relative;
    display: flex;
    width: 1px;
    align-items: center;
}
#bar-lang a{
    font-size: 0.875rem;
    padding: 0 10px;
}
#bar-lang a:hover {
    font-weight: 600 !important;
    text-decoration: underline;
}
#bar-lang a.active {
    font-weight: 600 !important;
}
#hed-top-band {
    width: 83px;
}
#hed-top-band li{
    display: flex;
    align-items: center;
}
#hed-top-band a{
    padding: 0 4.5px;
}
#hed-top-band .box-img-loc {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: relative;
}
#hed-top-band a:not(.active) .box-img-loc::after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #585858;
    border-radius: 100%;
    opacity: 0.6;
}
#hed-top-band a:not(.active) .box-img-loc:hover::after{
    opacity: 0;
}
#hed-top-band .box-img-loc img{
    width: 100%;
}
@media screen and (max-width:550px){
    #hed-top-green {
        padding: 0 20px;
    }
}
  /* END BAR LANGUAGE*/
 
/* START FOOTER*/
footer .container-fluid:first-child {
    padding: 25px 0;
}
footer h4{
    font-size: 1.125rem;
}
@media screen and (min-width:1200px){
    footer .col-box-logo-footer {
        min-width: 590px;
    }
}
footer .box-logo-footer {
    width: 272px;
    height: 212px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .box-logo-footer img {
    width: 100%;
}
footer .box-items-col-1-footer h4,
footer .box-items-col-2-footer h4 {
    font-size: 1.125rem;
}
footer .box-items-col-1-footer ul {
    padding-left: 15px;
}
footer .box-items-col-1-footer ul {
    list-style: none; /* Remove default bullets */
    margin-top: 14px;
    margin-bottom: 0;
  }
  
  footer .box-items-col-1-footer ul li::before {
    content: "\2022";
    font-size: 1rem;
    color: rgb(218, 169, 0);
    font-weight: bold;
    display: flex;
    line-height: 21px;
    position: absolute;
    left: 14px;
    height: 24px;
    text-align: center;
    width: 8px;
    justify-content: center;
    align-items: center;
}
footer .box-items-col-1-footer ul li a,
footer .box-items-col-2-footer p,
footer .box-items-col-2-footer a{
    font-size: 0.93rem;
    line-height: 23px;
    vertical-align: bottom;
    opacity: 0.8;
}
footer .box-items-col-2-footer p{
    margin-bottom: 0;
    line-height: 17px;
}
.footer-footer{
    height: 73px;
}
footer .box-items-col-1-footer {
    margin-top: 22px;
}
footer .box-items-col-1-footer ul li{
    line-height: 27px;
}
@media screen and (min-width:1200px){
    .box-col-1-footer {
        max-width: 330px;
    }
}
footer .box-items-col-2-footer {
    margin-top: 22px;
}
footer .box-parrafo {
    margin-top: 14px;
    position: relative;
}
footer .box-parrafo:after {
    content: '';
    position: absolute;
    width: 274px;
    height: 1px;
    background: #daa900;
    bottom: -15px;
}
footer .box-rrss {
    margin-top: 40px;
}
footer .box-rrss .link-rrss {
    opacity: 1;
    font-size: 1.5rem;
}
footer .box-icon-rrss {
    margin-left: 40px;
    width: 130px;
    display: flex;
    justify-content: space-between;
}
footer h4.pl-1 {
    padding-left: 1px !important;
}
footer a.link-rrss:hover i {
    color: #daa900 !important;
}
footer .box-items-col-2-footer a{
    line-height: 17px;
}
@media screen and (max-width:1199px){
    footer .box-parrafo:after{
        width: 35%;
    }
}
@media screen and (max-width:991px){
    .col-box-logo-footer {
        min-width: 100%;
    }
    footer .box-items-col-1-footer,
    footer .box-items-col-2-footer {
        max-width: 280px;
        margin: auto;
    }
    footer .box-items-col-1-footer ul{
        position: relative;
    }
    footer .box-items-col-1-footer ul li::before{
        left: 0;
    }
}
@media screen and (max-width:678px){
    .box-col-1-footer{
        margin-bottom: 30px;
    }
    .box-col-1-footer,
    .box-col-2-footer {
        min-width: 100%;
    }
    .footer-footer {
        height: 30px;
    }
}
/* END FOOTER */
