<!--TemplateGroup:listArticleSimple-->
<!--ArticleRepeat:Before:-->
<div class="card w-100 rounded-0">
    <div class="card-body">
        <ul class="list-group">
<!--RepeatEnd:Before:-->
<!--ArticleTemplate-->
            <li class="list-group-item rounded-0" data-aos="fade-right">
                <div class="d-flex w-100 text-decoration-none align-items-center">
                    <span style="margin-right: 20px;" data-aos="flip-left"><img src="/portals/0/skins/mineros/images/icon-pdf-2.png" srcset="/portals/0/skins/mineros/images/icon-pdf-2.svg" class="img-fluid" align="Pdf Icon" width="24" height="30"></span></span>
                    <p class="mb-0 librefranklin-regular color-scorpion" data-aos="fade-left">[EasyDNNnews:Title]</p>
                	[EasyDNNnews:DocumentList]
                </div>
            </li><!-- /.list-group-item-->
<!--ArticleEnd-->

<!--ArticleRepeat:After:-->
        </ul><!--.list-group-->
    </div><!--.card-body-->
</div><!--.card-->
<!--RepeatEnd:After:-->
