<!--HeaderTemplate-->
<!--<div class="edn_articleDocuments">-->
	<!--<h2>[EasyDNNnewsLocalizedText:Documents]</h2>-->
	<!--<ul>-->
<!--HeaderEnd-->

<!--TemplateDocument-->
		<!--<li class="edn_docType_[EasyDNNnews:Document:Type]">-->
			<a href="[EasyDNNnews:Document:Link]" target="[EasyDNNnews:Document:Target]" class="icon-donwload ml-auto" data-aos="flip-right"><img src="/portals/0/img/Información-Financiera/icon-download.png" srcset="/portals/0/img/Información-Financiera/icon-download.svg" class="img-fluid" align="Download Icon"></a>
		<!--</li>-->
<!--TemplateDocumentEnd-->

<!--FooterTemplate-->
	<!--</ul>-->
<!--</div>-->
<!--FooterEnd-->
