<!--TemplateGroup:detailsArticleSimple-->
<!--ArticleTemplate-->
<EDNHeader>
		<div class="EDN_article EDN_details EDN_articleSimple">
			<!--<span class="EDN_simpleDate">[EasyDNNnews:FormatedDate: d MMMM yyyy]</span>-->
			<h1  class="articleTitle">[EasyDNNnews:Title]</h1>
			[EasyDNNnews:IfExists:SubTitle]
			<!--<h3 class="articleTitle articleSubTitle">[EasyDNNnews:SubTitle]</h3>-->
			[EasyDNNnews:EndIf:SubTitle]
			<div class="EDN_clear"></div>
			[EasyDNNnews:IfExists:Event]
			<!--<div class="EDN_event-location-container">
				[EasyDNNnews:IfExists:EventRegistration][EasyDNNnews:EventRegistration:RegisterButton][EasyDNNnews:EndIf:EventRegistration]
				<p class="EDN_event-date"><strong>[EasyDNNnewsLocalizedText:Eventdate]:</strong> [EasyDNNnews:EventDate] <a class="export-calendar" href="[EasyDNNnews:iCalendar]" title="[EasyDNNnewsLocalizedText:ExportEvent]">[EasyDNNnewsLocalizedText:ExportEvent]</a></p>
				[EasyDNNnews:IfExists:EventLocation]
				<p class="EDN_event-location"><strong>[EasyDNNnewsLocalizedText:EventLocation]:</strong> [EasyDNNnews:EventLocation]</p>
				[EasyDNNnews:EndIf:EventLocation]
				[EasyDNNnews:IfExists:EventRegistration]
				<div class="EDN_clear"></div>
				<ul>
					<li>[EasyDNNnewsLocalizedText:NumberOfAttendants]: <strong>[EasyDNNnews:EventRegistration:NumberOfAttendants]</strong></li>
					<li>[EasyDNNnewsLocalizedText:MaxNumberOfTickets]: <strong>[EasyDNNnews:EventRegistration:MaxNumberOfTickets]</strong></li>
					<li>[EasyDNNnewsLocalizedText:NotUsedTickets]: <strong>[EasyDNNnews:EventRegistration:NotUsedTickets]</strong></li>
					[EasyDNNnews:IfExists:Payment]<li>[EasyDNNnewsLocalizedText:Price]: <strong>[EasyDNNnews:Price]</strong></li>[EasyDNNnews:EndIf:Payment]
				</ul>
				[EasyDNNnews:IfExists:Payment]<span class="edn_eventPrice">[EasyDNNnews:Price]</span>[EasyDNNnews:EndIf:Payment]
				<div class="EDN_clear"></div>
				[EasyDNNnews:EventRegistration:InfoMessage]
				[EasyDNNnews:EndIf:EventRegistration]
				[EasyDNNnews:IfExists:EventSignUp]
				<div class="eds_signUpActionBarWrapper">
					<span class="articleTitle">[EasyDNNnewsLocalizedText:AreYouGoing]</span>[EasyDNNnews:SignUpActionBar]
				</div>
				[EasyDNNnews:EndIf:EventSignUp]
			</div>-->
			[EasyDNNnews:EndIf:Event]
</EDNHeader>
<!--Gallery TOP position-->
<EDNContentTop>
			[EasyDNNnews:IfMediaType:Image]
			<!--<div class="EDN_mediaContainer">
				<img alt="[EasyDNNnews:Title]" src="[EasyDNNnews:Image]"/>
				[EasyDNNnews:IfExists:GalleryBackLink]
				<a href="[EasyDNNnews:GalleryBackLink]" class="edn_galleryLink"><span>[EasyDNNnewsLocalizedText:ViewInGallery]</span></a>
				[EasyDNNnews:EndIf:GalleryBackLink]
			</div>-->
			[EasyDNNnews:EndIfMediaType]
			[EasyDNNnews:IfMediaType:EmbedMedia]
			<!--<div class="EDN_mediaContainer EDN_videoAudio" style="width:[EasyDNNnews:MainArticleImageWidth]">
				[EasyDNNnews:MainMedia]
				[EasyDNNnews:IfExists:GalleryBackLink]
				<a href="[EasyDNNnews:GalleryBackLink]" class="edn_galleryLink"><span>[EasyDNNnewsLocalizedText:ViewInGallery]</span></a>
				[EasyDNNnews:EndIf:GalleryBackLink]
			</div>-->
			[EasyDNNnews:EndIfMediaType]
			<div class="EDN_article_content">
</EDNContentTop>

<EDNContent>
				[EasyDNNnews:Article]
</EDNContent>

<EDNContentBottom>
				[EDNcf:ShowAll]
			</div>
			[EasyDNNnews:ArticleMaps]
			<div class="EDN_clear"></div>
			[EasyDNNnews:EventRegistration:ListOfAttendants]
			[EasyDNNnews:DocumentList]
			[EasyDNNnews:Links]
			<!--<div class="edn_socialPrintWrapper">
				<div class="EDN_social-media-plugin">
					[EasyDNNnewsSystemToken:SysAddThisFbTwGoLi]
				</div>
				[EasyDNNnews:Print:ArticleDetails]
				<div class="EDN_clear"></div>
			</div>-->
</EDNContentBottom>
<!--Gallery BOTTOM position-->
<EDNFooter>
			[EasyDNNnews:GravityGallery]
			[EasyDNNnews:IfExists:AuthorProfile]
			<div class="EDN_authorGroupDetails">
				[EasyDNNnews:Author:Image:Width:124:Height:92:Resize:Crop]
				<h4>[EasyDNNnews:Author:DisplayName][EasyDNNnews:Author:RSSURL]</h4>
				<p>[EasyDNNnews:Author:ShortInfo] <span class="other-posty-by">[EasyDNNnewsLocalizedText:Otherpostsby] [EasyDNNnews:Author:Link]</span></p>
				<div class="EDN_clear"></div>
				<!--<div class="EDN_connect-with">
					<div class="social-networks">
						[EasyDNNnews:Author:Facebook]
						[EasyDNNnews:Author:Twitter]
						[EasyDNNnews:Author:LinkedIn]
						[EasyDNNnews:Author:GooglePlus]
					</div>
					[EasyDNNnews:Author:FullInfo]
					[EasyDNNnews:Author:Contact]
					<div class="EDN_clear"></div>
				</div>-->
			</div>
			[EasyDNNnews:EndIf:AuthorProfile]
			[EasyDNNnews:IfExists:AuthorGroup]
			<div class="EDN_authorGroupDetails EDN_groupDetails">
				[EasyDNNnews:Author:GroupImage:Width:124:Height:92:Resize:Crop]
				<h4>[EasyDNNnews:Author:GroupName][EasyDNNnews:Author:GroupRSSURL]</h4>
				<p>[EasyDNNnews:Author:GroupInfo]</p>
				<div class="EDN_clear"></div>
				<div class="EDN_connect-with">
					<div class="social-networks">
						[EasyDNNnews:Author:GroupFacebook]
						[EasyDNNnews:Author:GroupTwitter]
						[EasyDNNnews:Author:GroupGooglePlus]
						[EasyDNNnews:Author:GroupLinkedIn]
					</div>
					[EasyDNNnews:Author:GroupContact]
					<div class="EDN_clear"></div>
				</div>
			</div>
			[EasyDNNnews:EndIf:AuthorGroup]
			[EasyDNNnews:RelatedArticles]
</EDNFooter>
<!--Comments position-->
<EDNBottom>
		</div>
</EDNBottom>
<!--ArticleEnd-->
