<!--HeaderTemplate-->
<div class="edn_aditionalBox edn_articleDocuments">
	<h2><span>[EasyDNNnewsLocalizedText:Documents]</span></h2>
	<ul>
<!--HeaderEnd-->

<!--TemplateDocument-->
		<li class="edn_docType_[EasyDNNnews:Document:Type]">
			<a href="[EasyDNNnews:Document:Link]" target="[EasyDNNnews:Document:Target]">[EasyDNNnews:Document:Title]</a><span class="edn_docDetails">(<span class="edn_docExtension">[EasyDNNnews:Document:FileExtension],</span> <span class="edn_docFileSize">[EasyDNNnews:Document:FileSize]</span>) - [EasyDNNnews:Document:NumberOfDownloads] [EasyDNNnewsLocalizedText:Downloads]
			[EasyDNNnews:IfNotExists:Document:Permission]<i class="fa fa-lock"></i>[EasyDNNnews:EndIf:Document:Permission]
			</span>
			<p class="edn_documentDescription">[EasyDNNnews:Document:Description]</p>
		</li>
<!--TemplateDocumentEnd-->

<!--FooterTemplate-->
	</ul>
</div>
<!--FooterEnd-->
